<footer class="bg-gradient-to-t from-[#5A4A7B] to-[#9D7BC5] text-white py-12">
  <div class="absolute inset-0 bg-black opacity-40"></div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="text-center md:text-left mb-6 md:mb-0">
        <img src="../../../../assets/logo2.png" alt="Logo Caresync" class="h-20 w-auto mb-3" />
        <p class="text-sm text-white-400">Votre partenaire de santé digitalisé</p>
      </div>

      <div class="flex flex-col md:flex-row space-y-4 md:space-x-8 md:space-y-0">
        <a href="#about" class="text-lg text-white-400 hover:text-purple-950">À propos</a>
        <a href="#services" class="text-lg text-white-400 hover:text-purple-950">Services</a>
        <a href="#contact" class="text-lg text-white-400 hover:text-purple-950">Contact</a>
      </div>
    </div>

    <div class="mt-8 text-center">
      <p class="text-sm text-white-400">&copy; 2025 Caresync. Tous droits réservés.</p>
    </div>
  </div>
</footer>
